{% extends 'LojaMariFe/base.html' %}

{% block title %}Calca{% endblock %}

{% block content %}
    <div class="container">
        <h1>Calças</h1>
        <div class="row">
            {% for calca in calcas%} 
            <div class="card column">
                <img src="../../static/images/Moletom preto.jpg" style="width:180px">
                <h1>{{calca.nome}}</h1>
                <p class="price">R${{calca.preco}}</p>
                <p class="stock">{{calca.quantidade}} em estoque.</p>
                <p>{{calca.descricao}}</p>
                <p><button>Adicionar ao carrinho</button></p>
            </div>
        {%endfor%}
    </div>
{% endblock %}