{% extends 'LojaMariFe/base.html' %}

{% block title %}camisa{% endblock %}

{% block content %}
    <div class="container">
        <h1>Camisas</h1>
        <br>
        <div class="row">
            {% for camisa in camisas %}
                <div class="card column">
                    <img src="../../static/images/{{camisa.imagem}}" style="width:100%">
                    <h1>{{camisa.nome}}</h1>
                    <p class="price">R${{camisa.preco}}</p>
                    <p class="stock">{{camisa.quantidade}} em estoque.</p>
                    <p>{{camisa.descricao}}</p>
                    <p><button>Adicionar ao carrinho</button></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}