{% extends 'LojaMariFe/base.html' %}
{% load static %}

{% block title %}Camisa{% endblock %}

{% block head %}
    <script type='text/javascript' src="{% static 'js/estoque.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Camisas</h1>
        <br>
        <div class="row">
            {% for camisa in camisas %}
                <div class="card column">
                    <img src="../../static/images/{{camisa.imagem}}" style="width:100%">
                    <h1>{{camisa.nome}}</h1>
                    <p class="price">R${{camisa.preco}}</p>
                    <p class="stock">{{camisa.quantidade}} em estoque.</p>
                    <p>{{camisa.descricao}}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <p><button name="id" id="{{camisa.imagem}}" value={{camisa.pk}}>Adicionar ao carrinho</button></p>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}