{% extends 'LojaMariFe/base.html' %}
{% load static %}

{% block title %}Carrinho{% endblock %}

{% block head %}
    <script> var ids = "{{ ids | safe }}"; </script>
    <script> var page = 'carrinho'; </script>
    <script type='text/javascript' src="{% static 'js/estoque.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Seu carrinho - Valor total: R${{ preco }}</h2> 
        <br>
        <div class="row">
        {% for produto, count in produtos.items %}
            <div class="card column">
                <img src="../../static/images/{{ produto.imagem }}" style="width:100%">
                <h1>{{ produto.nome }}</h1>
                <p class="price">R${{ produto.preco }}</p>
                <p class="stock">{{ count }} no carrinho.</p>
                <p>{{ produto.descricao }}</p>
                <form method="POST">
                    {% csrf_token %}
                    <p><button name="id" id="{{produto.pk}}" value="{{produto.pk}}">Remover do carrinho</button></p>
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}