{% extends 'LojaMariFe/base.html' %}

{% block title %}Carrinho{% endblock %}

{% block content %}
    <div class="container">
        <h2>Seu carrinho</h2> 
        <br>
        {% for produto in produtos %}
            <div class="card column">
                <img src="../../static/images/{{produto.0.imagem}}" style="width:100%">
                <h1>{{produto.0.nome}}</h1>
                <p class="price">R${{produto.0.preco}}</p>
                <p class="stock">{{produto.0.quantidade}} em estoque.</p>
                <p>{{produto.0.descricao}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}