{% extends 'LojaMariFe/base.html' %}

{% block title %}Carrinho{% endblock %}

{% block content %}
    <div class="container">
        <h2>Seu carrinho - Valor total: R${{ preco }}</h2> 
        <br>
        <div class="row">
        {% for produto, count in produtos.items %}
            <div class="card column">
                <img src="../../static/images/{{ produto.imagem }}" style="width:100%">
                <h1>{{ produto.nome }}</h1>
                <p class="price">R${{ produto.preco }}</p>
                <p class="stock">{{ count }} no carrinho.</p>
                <p>{{ produto.descricao }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}