{% extends 'LojaMariFe/base.html' %}

{% block title %}sapato{% endblock %}

{% block content %}
    <div class="container">
        <h1>Sapatos</h1>
        <br>
        <div class="row">
            {% for sapato in sapatos%} 
                <div class="card column">
                    <img src="../../static/images/{{sapato.imagem}}" style="width:100%">
                    <h1>{{sapato.nome}}</h1>
                    <p class="price">R${{sapato.preco}}</p>
                    <p class="stock">{{sapato.quantidade}} em estoque.</p>
                    <p>{{sapato.descricao}}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <p><button name='id' value="{{ sapato.pk }}">Adicionar ao carrinho</button></p>
                    </form>
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}