{% extends 'LojaMariFe/base.html' %}

{% block title %}vestido{% endblock %}

{% block content %}
    <div class="container">
        <h1>Vestidos</h1>
        <br>
        <div class="row">
            {% for vestido in vestidos%} 
                <div class="card column">
                    <img src="../../static/images/Camisa 1.jpg" style="width:100%">
                    <h1>{{vestido.nome}}</h1>
                    <p class="price">R${{vestido.preco}}</p>
                    <p class="stock">{{vestido.quantidade}} em estoque.</p>
                    <p>{{vestido.descricao}}</p>
                    <p><button>Adicionar ao carrinho</button></p>
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}