.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    align-items: center;
}

.price {
    color: grey;
    font-size: 22px;
    margin-bottom: -0.3rem;
}

.stock{
    color: lightgray;
    font-size: 14px;
}

.column{
    float: left;
    width: 33%;
    padding: 0 10px;
    margin-bottom: 20px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #E0A158;
    background-color: #4b4276;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.8;
    color:  #E38417;;
}